@import "tailwindcss";

@theme {
  /* === PRIMARY === */
  --color-primary-50: #d6eaff;
  --color-primary-100: #0089ff;
  --color-primary-400: #0033aa; /* base */
  --color-primary-700: #0a2240;

  /* === SUCCESS === */
  --color-success-50: #e7f6ec;
  --color-success-75: #b5e3c4;
  --color-success-100: #91d6a8;
  --color-success-200: #5fc381;
  --color-success-300: #40b869;
  --color-success-400: #0f973d; /* base */
  --color-success-500: #099137;
  --color-success-600: #04802e;
  --color-success-700: #036b26;
  --color-success-800: #015b20;
  --color-success-900: #04172b;
  --color-success-hover: #099137;

  /* === WARNING === */
  --color-warning-50: #fef6e7;
  --color-warning-75: #fbe2b7;
  --color-warning-100: #f7d394;
  --color-warning-200: #f7c164;
  --color-warning-300: #f5b546;
  --color-warning-400: #f3a218; /* base */
  --color-warning-500: #dd900d;
  --color-warning-600: #ad6f07;
  --color-warning-700: #865503;
  --color-warning-800: #664101;
  --color-warning-900: #523300;
  --color-warning-hover: #dd900d;

  /* === ERROR === */
  --color-error-50: #fbeae9;
  --color-error-75: #f2bcba;
  --color-error-100: #eb9b98;
  --color-error-200: #e26e6a;
  --color-error-300: #dd524d;
  --color-error-400: #d42620; /* base */
  --color-error-500: #cb1a14;
  --color-error-600: #ba110b;
  --color-error-700: #9e0a05;
  --color-error-800: #800501;
  --color-error-900: #591000;
  --color-error-hover: #cb1a14;

  /* ===  GREY === */
  --color-grey-50: #f9fafb;
  --color-grey-75: #f7f9fc;
  --color-grey-100: #f0f2f5;
  --color-grey-200: #e4e7ec;
  --color-grey-300: #d0d5dd;
  --color-grey-400: #98a2b3; /* base */
  --color-grey-500: #667185;
  --color-grey-600: #475367;
  --color-grey-700: #344054;
  --color-grey-800: #1d2739;
  --color-grey-900: #101928;

  /* === BROWN === */
  --color-brown-50: #fbf1f1;
  --color-brown-75: #f0e6e6;
  --color-brown-100: #e4dbdb;
  --color-brown-200: #cdc4c4;
  --color-brown-300: #b7afaf;
  --color-brown-400: #a29999; /* base */
  --color-brown-500: #8d8484;
  --color-brown-600: #787070;
  --color-brown-700: #645d5d;
  --color-brown-800: #514a4a;
  --color-brown-900: #3e3838;

  /* === SHADES === */
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* scrollbar-width: none; */
  /* -ms-overflow-style: none; */
}

/* *::-webkit-scrollbar {
  display: none;
} */
